.container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  offset-path: path("M30,370 C 400,370 500,319 570,30");
}
