.container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: rgb(94, 96, 115);
  top: 0;
  left: 0;
  offset-path: path("M25,350 C 400,350 500,300 570,10");
}
